<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>Urlaubsbilder</display-name>
	<servlet>
		<servlet-name>ChangeDescriptionServlet</servlet-name>
		<display-name>ChangeDescriptionServlet</display-name>
		<servlet-class>urlaubsbilder.standardservlets.ChangeDescriptionServlet</servlet-class>
		<init-param>
			<param-name>ResultPage</param-name>
			<param-value>c_bild.jsp</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>InitMenuServlet</servlet-name>
		<display-name>InitMenuServlet</display-name>
		<servlet-class>urlaubsbilder.standardservlets.InitMenuServlet</servlet-class>
		<init-param>
			<param-name>ResultPage</param-name>
			<param-value>f_Resultframe.html</param-value>
		</init-param>
		<init-param>
			<param-name>bilderRoot</param-name>
			<param-value>E:\MyHomepage\Web Content\UrlaubsPhotos</param-value>
		</init-param>
		<init-param>
			<param-name>1988bund</param-name>
			<param-value>\1988bund\800x600</param-value>
		</init-param>
		<init-param>
			<param-name>1989bund</param-name>
			<param-value>\1989bund\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1989dolomiten</param-name>
			<param-value>\1989dolomiten\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1991gardasee</param-name>
			<param-value>\1991gardasee\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1992dolomiten</param-name>
			<param-value>\1992dolomiten\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1994clermontFerrand</param-name>
			<param-value>\1994clermontFerrand\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1994piemont</param-name>
			<param-value>\1994piemont\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1995irland</param-name>
			<param-value>\1995irland\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1996neuseeland</param-name>
			<param-value>\1996neuseeland\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1997oetztalerRadmarathon</param-name>
			<param-value>\1997oetztalerRadmarathon\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1997skitourWeiskugel</param-name>
			<param-value>\1997skitourWeiskugel\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1997lofoten</param-name>
			<param-value>\1997lofoten\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1998island</param-name>
			<param-value>\1998island\800x600</param-value>
		</init-param>
        <init-param>
			<param-name>1999Schweiz</param-name>
			<param-value>\1999Schweiz\800x600</param-value>
		</init-param>
        <init-param>
			<param-name>2000Wintour</param-name>
			<param-value>\2000Wintour\800x600</param-value>
		</init-param>
        <init-param>
			<param-name>2000Canada</param-name>
			<param-value>\2000Canada\800x600</param-value>
		</init-param>
        <init-param>
			<param-name>2000USA</param-name>
			<param-value>\2000USA\800x600</param-value>
		</init-param>
        <init-param>
			<param-name>2001Wintour</param-name>
			<param-value>\2001Wintour\800x600</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ContentServlet</servlet-name>
		<display-name>ContentServlet</display-name>
		<servlet-class>urlaubsbilder.standardservlets.ContentServlet</servlet-class>
        <init-param>
			<param-name>ResultPage</param-name>
			<param-value>c_bild.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeDescriptionServlet</servlet-name>
		<url-pattern>ChangeDescriptionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContentServlet</servlet-name>
		<url-pattern>ContentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitMenuServlet</servlet-name>
		<url-pattern>InitMenuServlet</url-pattern>
	</servlet-mapping>
</web-app>
