<?xml version="1.0" encoding="UTF-8"?>
<web-app id="MyHomepage" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	MyHomepage</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Generator</servlet-name>
		<servlet-class>org.zifts.homepagegenerator.servlet.Generator</servlet-class>
		<init-param>
			<param-name>ResultPage</param-name>
			<param-value>Result.jsp</param-value>
		</init-param>
	</servlet>
		<servlet>
		<servlet-name>ChangeDescriptionServlet</servlet-name>
		<servlet-class>org.zifts.homepagegenerator.servlet.ChangeDescriptionServlet</servlet-class>
		<init-param>
			<param-name>ResultPage</param-name>
			<param-value>c_bild.jsp</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>InitMenuServlet</servlet-name>
		<servlet-class>org.zifts.homepagegenerator.servlet.InitMenuServlet</servlet-class>
		<init-param>
			<param-name>ResultPage</param-name>
			<param-value>f_Resultframe.html</param-value>
		</init-param>
		<init-param>
			<param-name>bilderRoot</param-name>
			<param-value>D:\persdata\Stefan\MyHomepage\WebContent\StaticContent\UrlaubsPhotos</param-value>
		</init-param>
		<init-param>
			<param-name>1988bund</param-name>
			<param-value>\1988\1988bund\800x600</param-value>
		</init-param>
		<init-param>
			<param-name>1989bund</param-name>
			<param-value>\1989\1989bund\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1989dolomiten</param-name>
			<param-value>\1989\1989dolomiten\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1991gardasee</param-name>
			<param-value>\1991\1991gardasee\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1992dolomiten</param-name>
			<param-value>\1992\1992dolomiten\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1994clermontFerrand</param-name>
			<param-value>\1994\1994clermontFerrand\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1994piemont</param-name>
			<param-value>\1994\1994piemont\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1995irland</param-name>
			<param-value>\1995\1995irland\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1996neuseeland</param-name>
			<param-value>\1996\1996neuseeland\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1997oetztalerRadmarathon</param-name>
			<param-value>\1997\1997oetztalerRadmarathon\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1997skitourWeiskugel</param-name>
			<param-value>\1997\1997skitourWeiskugel\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1997lofoten</param-name>
			<param-value>\1997\1997lofoten\800x600</param-value>
		</init-param>
    	<init-param>
			<param-name>1998island</param-name>
			<param-value>\1998\1998island\800x600</param-value>
		</init-param>
        <init-param>
			<param-name>1999Schweiz</param-name>
			<param-value>\1999\1999Schweiz\800x600</param-value>
		</init-param>
        <init-param>
			<param-name>2000Wintour</param-name>
			<param-value>\2000\2000Wintour\800x600</param-value>
		</init-param>
        <init-param>
			<param-name>2000Canada</param-name>
			<param-value>\2000\2000Canada\800x600</param-value>
		</init-param>
        <init-param>
			<param-name>2000USA</param-name>
			<param-value>\2000\2000USA\800x600</param-value>
		</init-param>
        <init-param>
			<param-name>2001Wintour</param-name>
			<param-value>\2001\2001Wintour\800x600</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ContentServlet</servlet-name>
		<servlet-class>org.zifts.homepagegenerator.servlet.ContentServlet</servlet-class>
        <init-param>
			<param-name>ResultPage</param-name>
			<param-value>c_bild.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeDescriptionServlet</servlet-name>
		<url-pattern>ChangeDescriptionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContentServlet</servlet-name>
		<url-pattern>/OnTheFlyPhotos/ContentServlet:ContentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitMenuServlet</servlet-name>
		<url-pattern>/OnTheFlyPhotos/InitMenuServlet:InitMenuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Generator</servlet-name>
		<url-pattern>/Generate/Generator:Generator</url-pattern>
	</servlet-mapping>
 </web-app>
